
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .areaComents{
    margin-top: 60px;


  }


  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ccc;
  }
  
  #messages-list {
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex   ;
    justify-content: space-around;
  }
  
  .card {
    background: #cccccc75;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    color: #191919;
    margin-top: 20px;
}
.card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}
.card p {
    margin: 5px 0;
}
.card hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  
    #messages-list {
      padding: 10px;
    }
  
    #messages-list > div {
      padding: 15px;
    }
  }
  