button{
    width: 86px;
    height: 35px;
    margin-right: 32px;
    border: none;
    border-radius: 16px;
    color: #fff;
}
button.Curtir{
    background-color: blue;
    
}
button.Descurtir{
    background-color: firebrick;

}
button:hover{
    transform: scale(1.1);
}

.divVoto{
    width: 400px;
    height: 500px;
    padding: 15px;
    background-color: #FFF4B7;
    border-radius: 30px;
    text-align: center;
}
p{
    font-size: 1.3rem;
    font-weight: 600;
}
img{
    border-radius: 16px;
}